@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}
