@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
  }
}
